body {
    font-family: 'Arial', sans-serif;
    background-image: url('../images/hospital-background.png');
    background-size: cover;
    background-position: center; 
    background-attachment: fixed;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding-top: 60px; /* Ajustar según la altura del appbar */
}


.login-container {
    background-color: white;
    width: 350px;
    padding: 40px;
    border-radius: 15px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    margin: auto;
}

.tabs {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

.tab-button {
    background-color: transparent;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-weight: bold;
    color: #5a5a5a;
    transition: color 0.3s, background-color 0.3s;
}

.tab-button:focus, .tab-button.active {
    outline: none;
    background-color: #0d6efd; 
    color: white;
}

.input-group {
    margin-bottom: 20px;
    text-align: left;
}

input[type="text"], input[type="password"] {
    width: calc(100% - 20px); 
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box; 
}

.submit-button {
    width: 100%;
    padding: 12px;
    background-color: #0d6efd;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.submit-button:hover {
    background-color: #0b5ed7;
}

.create-paciente {
    text-align: center;
    margin-top: 20px;
}

.create-paciente-button {
    text-decoration: none;
    background-color: #4CAF50; 
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.create-paciente-button:hover {
    background-color: #45a049; 
}
.form-container {
    background-color: white;
    padding: 40px; 
    border-radius: 15px; 
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1); 
    width: 350px; 
    margin: auto; 
    margin-top: 50px;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 10px;
    padding: 10px;
}

.grid-item {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
}

.header {
    background-color: #2c3e50; /* Color de fondo oscuro */
    color: white; /* Texto en color blanco */
    padding: 10px 20px;
    display: flex;
    justify-content: space-between; /* Espacio entre los elementos izquierdo y derecho */
    align-items: center; /* Alinear los elementos verticalmente */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Sombra sutil */
}


.header-left, .header-right a {
    font-size: 18px; /* Tamaño de fuente más grande */
    text-decoration: none; /* Remover subrayado de enlaces */
    color: white; /* Color de texto blanco para contraste */
}

.header-right a:hover {
    color: #f39c12; /* Cambio de color al pasar el ratón */
}

/* Estilos para el contenedor del contenido que no sea el header */
.content {
    padding: 20px;
    /* Ajustar el padding superior si el header tiene un tamaño fijo y deseas que el contenido no se solape */
    padding-top: 60px; /* Asumiendo que el header es de 50px de alto más 10px de padding */
}

/* Centrar el grid-container verticalmente usando flexbox */
/* Asumiendo que .content es el contenedor directo del grid-container */
.content {
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centra el contenido verticalmente */
    align-items: center; /* Centra el contenido horizontalmente */
    min-height: 100vh; /* Asegura que el content tenga al menos la altura de la ventana */
}

/* Estilos para el grid */
.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); /* Ajusta la cantidad mínima y máxima de columnas */
    grid-gap: 10px; /* Espaciado entre elementos de la cuadrícula */
    margin-top: 20px; /* Espacio adicional en la parte superior si es necesario */
}

.grid-item {
    background-color: white;
    display: flex; /* Establece los elementos del grid-item en línea */
    justify-content: space-between; /* Separa los elementos a los extremos */
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
}

.grid-item.header {
    background-color: #2c3e50; /* Un fondo distinto para los encabezados */
    color: white;
}

.grid-item-content {
    flex: 1; /* Asigna el espacio disponible de manera equitativa */
    padding: 0 10px; /* Espaciado dentro de cada contenido */
    position: relative; /* Para la posición de la pseudo-elemento */
}

/* Añade una línea divisoria al primer .grid-item-content */
.grid-item-content:not(:last-child)::after {
    content: ""; /* Crea un pseudo-elemento */
    position: absolute; /* Posición absoluta respecto al padre relativo */
    right: 0; /* Alinear a la derecha del contenido */
    top: 0; /* Alineación superior */
    bottom: 0; /* Alineación inferior */
    border-right: 1px solid #ccc; /* Borde derecho para la línea divisoria */
}

.grid-item-content a {
    padding: 5px 10px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 3px;
    text-decoration: none;
    color: #333;
    margin-right: 5px;
}

.grid-item-content a:hover {
    background-color: #e0e0e0;
}

.action-icons {
    display: flex; /* Usa flexbox para alinear los íconos horizontalmente */
    justify-content: flex-start; /* Alinea los íconos al principio del contenedor */
}

.action-icons a {
    margin-right: 10px; /* Espacio entre íconos */
    text-decoration: none; /* Elimina el subrayado de los enlaces */
    /* Otros estilos que desees para los íconos */
}

.action-icons a:last-child {
    margin-right: 0; /* Elimina el margen derecho del último ícono */
}

.header .grid-item-content:not(:last-child)::after {
    border-right: none;
}


.appbar {
    background-color: #2c3e50; /* Color de fondo */
    color: white; /* Color del texto */
    padding: 10px 20px;
    display: flex;
    justify-content: space-between; /* Separar elementos a ambos extremos */
    align-items: center; /* Centrar elementos verticalmente */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Sombra para dar profundidad */
    position: fixed; /* Fijar en la parte superior */
    width: 100%; /* Ocupar el ancho completo */
    top: 0; /* Posicionar en la parte superior de la página */
    z-index: 1000; /* Asegurarse de que esté por encima de otros elementos */
}

/* Estilo para el texto de bienvenida y el enlace de cerrar sesión */
.appbar-left {
    display: flex;
    align-items: center;
    padding-left: 20px; /* Espacio antes del enlace */
    padding-right: 20px;
}

.appbar-right {
    display: flex;
    align-items: center;
}

.appbar-right a {
    color: white;
    padding-left: 20px; /* Espacio antes del enlace */
    padding-right: 20px;
    text-decoration: none; /* No subrayado */
}

.appbar-right a:hover {
    text-decoration: underline; /* Subrayado al pasar el ratón */
}

#superuser-group {
    margin-bottom: 20px;
    text-align: left;
}

#superuser-group label {
    margin-right: 10px;
}
